<!-- start favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/same-site-wiki/assets/apple-touch-icon.png" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/same-site-wiki/assets/favicon-32x32.png" type="image/x-icon">
<link rel="icon" type="image/png" sizes="16x16" href="/same-site-wiki/assets/favicon-16x16.png" type="image/x-icon">
<link rel="manifest" href="/same-site-wiki/assets/site.webmanifest">
<link rel="mask-icon" href="/same-site-wiki/assets/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/same-site-wiki/assets/favicon.ico" type="image/x-icon">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/same-site-wiki/assets/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- end favicons -->